<% if (typeof error != 'undefined') { %>
    <div class="alert alert-danger alertStyle" role="alert">
      <%- error %>
    </div>
  <% } %>
<h1 class="header">new Patient</h1>
<form action="/patients" method="POST" >
    <div class="mb-3">
        <label for="patient_name" class="form-label">Patient Name</label>
        <input type="text" class="form-control" id="patient_name" name="patient_name"
            value="<%= typeof patient_name != 'undefined' ? patient_name : '' %>">
    </div>
    <div class="mb-3">
        <label for="patient_num" class="form-label">Patient Number</label>
        <input type="text" class="form-control" id="patient_num" name="patient_num"
            value="<%= typeof patient_num != 'undefined' ? patient_num : '' %>">
    </div>
    <div class="mb-3">
        <label for="patient_city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" name="patient_city"
            value="<%= typeof patient_city != 'undefined' ? patient_city : '' %>">
    </div>
    <div class="mb-3">
        <label for="diagnose" class="form-label">diagnose</label>
        <input type="text" class="form-control" id="diagnose" name="diagnose"
            value="<%= typeof diagnose != 'undefined' ? diagnose : '' %>">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>