<% if (typeof error != 'undefined') { %>
  <div class="alert alert-danger" role="alert">
    <%- error %>
  </div>
<% } %>
<form action="/doctors" method="POST">
    <div class="mb-3">
      <label for="full_name" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="full_name"
          value="<%= typeof full_name != 'undefined' ? full_name : '' %>">
    </div>
    <div class="mb-3">
      <label for="licence_number" class="form-label">Licence Number</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="licence_number"
        value="<%= typeof licence_number != 'undefined' ? licence_number : '' %>" >
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="city"
        value="<%= typeof city != 'undefined' ? city : '' %>">
    </div>
    <div class="mb-3">
      <label for="specialization" class="form-label">Specialization</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="specialization"
        value="<%= typeof specialization != 'undefined' ? specialization : '' %>">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
