<h1 class="header">Doctors</h1>
<div class="styleTable">
<table class="table table-success table-striped">
    <thead>
        <tr>
          <th scope="col">Licence No.</th>
          <th scope="col">Name</th>
          <th scope="col">Specialization</th>
          <th scope="col">City</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% doctors.forEach(doctor => { %>
          <tr>
            <td scope="col"><%= doctor.licence_number %></td>
            <td scope="col"><%= doctor.full_name %></td>
            <td scope="col"><%= doctor.specialization %></td>
            <td scope="col"><%= doctor.city %></td>
            <td>
              <a href="/doctors/create" class="btn btn-primary btnStyle">Add</a>
              <a href="/doctors/<%= doctor._id %>" class="btn btn-secondary btnStyle">Update</a>
            </td>
          </tr> 
        <% }) %>
      </tbody>
</table>
</div>